<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1>Chat Application</h1>
<div>
    <label>From:</label>
    <input type="text" id="sender" th:value="${username}" placeholder="Your name">
</div>
<div>
    <label>To:</label>
    <input type="text" id="recipient" placeholder="Recipient name">
</div>
<div>
    <textarea id="messageInput" placeholder="Enter your message"></textarea>
</div>
<button onclick="sendMessage()">Send</button>

<h2>Messages:</h2>
<div id="messages"></div>

<script>
    let stompClient;
    const sender = document.getElementById("sender").value;
    const recipient = document.getElementById('recipient').value;
    // Kết nối WebSocket
    const connect = () => {
        const socket = new SockJS(`http://localhost:8080/ws?sender=${sender}`);
        stompClient = Stomp.over(socket);

        stompClient.connect({}, () => {
            console.log('Connected to WebSocket as:', sender);
            stompClient.subscribe(`/user/queue/messages`, (message) => {
                console.log("Received message: ", message.body);
                const messagesDiv = document.getElementById('messages');
                const newMessage = document.createElement('div');
                let object = message.body;
                object = JSON.parse(object)
                console.log("object: ------------" + object)
                newMessage.innerHTML = object.sender + ": "+ object.content;
                messagesDiv.appendChild(newMessage);
            });
        });

    };

    const sendMessage = () => {
        const sender = document.getElementById('sender').value;
        const recipient = document.getElementById('recipient').value;
        const content = document.getElementById('messageInput').value;

        const chatMessage = {
            sender: sender,
            recipient: recipient,
            content: content
        };

        console.log("Sending message: ", chatMessage);

        stompClient.send('/app/chat', {}, JSON.stringify(chatMessage));
    };
    connect();
</script>
</body>
</html>
